<!DOCTYPE html>
<html>
<head>
	<title>New Case</title>
</head>
<body>
	<h1>Upload New Case</h1>

	<form action="https://xmlocrparser.herokuapp.com/cases/new" method="POST" enctype=multipart/form-data >
		<input type="text" name="casename" placeholder="Case Name">
		<input type="file" name="casefile">
		<input type="submit" name="Upload">
	</form>

	<button><a href="https://xmlocrparser.herokuapp.com/">Home</a></button>
	<button><a href="https://xmlocrparser.herokuapp.com/cases">Case List</a></button>
</body>
</html>